/* General */

.app {
  text-align: center;
}


/* Entry Level */

.entry-level {
  margin-top: 10px;
}

.MuiSlider-thumb {
  background-size: 25px 25px;
  background-image: url(../assets/clown.png);
}


/* Clownlist */

.clownlist {
  margin-top: 10px;
}

.clownlist-input {
  margin-top: 10px;
}

.clownlist-textfield {
  font-size: 14px;
  padding: 4px;
  margin-right: 10px;
  width: 20%;
  border: 2px solid #d9230c;
  border-radius: 5px;
}

.cd-button {
  font-size: 14px;
  color: #f3b2a7;
  background-color: #d9230c;
  border: 2px solid #d9230c;
  border-radius: 5px;
  padding: 4px;
}
